.body {
  display: flex;
  justify-content: space-around;
}
li {
  padding: 5px;
  color: rgb(109, 108, 108);
  cursor: pointer;
  border-radius: 10px;
}
li:hover {
  background-color: rgb(217, 222, 230);
}
.desc-container {
  width: 650px;
  height: 350px;
  padding: 0px 15px;
  border: 2px solid rgb(190, 190, 190);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
span {
  color: grey;
  font-size: 20px;
}
